__pycache__
*.dll
.sconsign.dblite
compile_commands.json
*.bin
.cache
*.exe
*.d
*.pre
*.p1
*.lst
*.obj
*.o
*.sdb
.generated*
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
tmp
